<footer class="rodape">
  <div class="redes-sociais">
      <h4>REDES SOCIAS</h4>
      <img src="../../../../assets/img/img-index/instagram.png" alt="">
      <img src="../../../../assets/img/img-index/facebook.png" alt="">
      <img src="../../../../assets/img/img-index/youtube.png" alt="">


  </div>
  <div class="contatos">
      <h4>CONTATOS</h4>
      <p><img src ="imagens/telefone.png">(77) 3441-0000</p>
      <p><img src ="imagens/email.png"> 000000@gmail.com</p>
      <p><img src ="imagens/zap.png">(77) 3441-0000</p>
  </div>
  <div class="formas de pagamentos">
      <h4>FORMAS DE PAGAMENTO</h4>
      <img src="../../../../assets/img/img-index/formasdepagamento.png" alt="">
  </div>

</footer>

