<header>
  <div class="cabecalho">
      <div class="logo"><img src="../../../../assets/img/img-index/logo.png" alt=""></div>
      <div class="menu">
          <nav class="menu-navegacao">
            <div class="texto-navegacao">
              <a class="menu-navegacao-item">INÍCIO</a>
              <a routerLink='/carro/post'  >CARROS</a>
              <a class="menu-navegacao-item">LOGIN</a>
              <a class="menu-navegacao-item">CADASTRO</a>

            </div>
          </nav>
      </div>
  </div>
</header>

